<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="keywords" content="text,image,convert,sytle,highlight">
        <meta name="description" content="An web app that can convert text to image, works like paste2.org, with highlight and formatting ability. Written in tornado+mongodb, source code available.">
        <title>Paste2Image, paste text, get image</title>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery-ui.min.js"></script>
        <script src="/static/js/jquery.ui.selectbox.js"></script>
        <script src="/static/js/encoder.js"></script>
        <script src="/static/js/cookie.js"></script>
        <link rel="stylesheet" href="/static/css/jquery-ui.css" type="text/css" />
        <style type="text/css">
        body{
            width: 980px;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
            background-color: #eee;
            color: #444;
            font-size: 90%;
        }
        select {
            width: 195px;
        }
        .paste{
            display: block;
            width: 600px;
        }
        #to_paste {
            width: 100%;
        }
        .ui-autocomplete-input {
            width: 155px;
        }
        .text{
            width: 30px;
            text-align: right;
        }
        .submit{
            float:right;
        }
        </style>
    </head>
    <body>
    <div class="container">
    <div style="float:right">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-7790241779679682";
/* paste2image.righttop */
google_ad_slot = "4112678371";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
    </div>
        <h2 class="ui-widget">
            <a href="/"><img src="/static/logo.png"></a>
        </h2>
        <div class="paste">
        <p class="ui-widget">Paste text into the box below, get an image immediately</p>
        <form class="pasteform" action="/paste" method="post">
            <div><textarea id="to_paste" class="ui-widget" name="content" rows="8" cols="50"></textarea></div>
            <p>
            <div>
                <select name="language">
                    <option value='text'>Select Langueage(Highlight) ...</option>
                    <option value='text' selected>Plain Text / Other</option>
                    <option value='python'>Python</option>
                    <option value='ruby'>Ruby</option>
                    <option value='cpp'>C++</option>
                    <option value='php'>PHP</option>
                    <option value='javascript'>Javascript</option>
                    <option value='java'>Java</option>
                    <option value='html'>HTML</option>
                    <option value='css'>CSS</option>

                    <option value='--'>-----------------------</option>
                    <option value='actionscript'>Actionscript</option>
                    <option value='ada'>Ada</option>
                    <option value='apache'>Apache Config</option>
                    <option value='applescript'>AppleScript</option>

                    <option value='asm'>Assembly</option>
                    <option value='asp'>ASP</option>
                    <option value='bash'>Bash</option>
                    <option value='c'>C</option>
                    <option value='cfm'>Cold Fusion</option>

                    <option value='csharp'>C#</option>
                    <option value='d'>D</option>
                    <option value='delphi'>Delphi</option>
                    <option value='diff'>UNIX Diff</option>
                    <option value='eiffel'>Eiffel</option>

                    <option value='fortran'>Fortran</option>
                    <option value='ini'>Ini</option>
                    <option value='latex'>LaTeX</option>

                    <option value='lisp'>LISP</option>
                    <option value='lua'>Lua</option>
                    <option value='matlab'>MATLAB</option>
                    <option value='mysql'>MySQL</option>
                    <option value='perl'>Perl</option>
                    <option value='qbasic'>QBasic / QuickBASIC</option>
                    <option value='robots'>Robots</option>

                    <option value='sql'>SQL</option>
                    <option value='tcl'>TCL</option>
                    <option value='vb'>Visual BASIC</option>
                    <option value='vbnet'>VB.NET</option>
                    <option value='winbatch'>Winbatch</option>
                    <option value='xml'>XML</option>
                </select>
                <select name="font_name">
                    <option value="Microsoft YaHei">Select a Font ...</option>
                    <option value="WenQuanYi Zen Hei Mono" selected>WQY MONO(文泉驿等宽正黑)</option>
                    <option value="DejaVu Sans YuanTi Mono">Yuanti MONO(方正等宽准圆)</option>
                    <option value="DejaVu Sans Mono">DejaVu Sans Mono(English)</option>
                    <option value="TakaoPGothic">TakaoPGothic(日文字体)</option>
                    <option value="Microsoft YaHei">Microsoft YaHei(微软雅黑)</option>
                    <option value="AR PL UKai CN">AR PL UKai CN(楷体)</option>
                    <option value="WenQuanYi Zen Hei">WQY Zen Hei(文泉驿正黑)</option>
                </select>
                <select name="style">
                    <option value="friendly">Select a Style ...</option>
                    <option>default</option>
                    <option>emacs</option>
                    <option selected>friendly</option>
                    <option>colorful</option>
                    <option>autumn</option>
                    <option>murphy</option>
                    <option>manni</option>
                    <option>monokai</option>
                    <option>perldoc</option>
                    <option>pastie</option>
                    <option>borland</option>
                    <option>trac</option>
                    <option>native</option>
                    <option>fruity</option>
                    <option>bw</option>
                    <option>vim</option>
                    <option>vs</option>
                    <option>tango</option>
                </select>
            </div>
                <p>
            <div>
                Font Size <input class="text" type="text" name="font_size" value="14" />
                &nbsp;&nbsp;Line Break(换行) <input class="text" type="text" name="line_break" value="80" />
                &nbsp;&nbsp;<input type="checkbox" name="line_numbers" id="check1" checked><label for="check1">Line Numbers</label>
                &nbsp;&nbsp;<input type="checkbox" name="anti_gfw" id="check2" checked><label for="check2">AntiGFW</label>
                <input class="submit" type="submit" value="Submit">
            </div>
        </form>
        <div class="usage">
            <p class="ui-widget">Tips:</p>
            <ul class="ui-widget" id="sortable">
                <li>If you want to highlight certain lines of code, just prepend '^^' to the very start of the line(s).</li>
                <li>Line width is calculated as "linebreak * width of 'M'" </li>
            </ul>
        </div>
        <script>
            //$("input:checkbox").button();
            //$("input:submit").button();
            //$("select").selectbox();
            $("#sortable").sortable();
            $("#sortable").disableSelection();
            $(".text").click( function (){
                this.value="";
            });
            $(".text[name='font_size']").blur( function (){
                if (this.value==""){
                    this.value = 14;
                }
            });
            $(".pasteform").submit( function(){
                var to_paste = $("#to_paste").val();
                if ( $("#check2").attr("checked") ){
                    var he_text = Encoder.htmlEncode( to_paste );
                }else{
                    var he_text = to_paste;
                }
                // save settings
                $.cookie("settings_saved",true,{expires:365});
                $.cookie("language",$("[name=language]").val(),{expires:365}); 
                $.cookie("font_name",$("[name=font_name]").val(),{expires:365});
                $.cookie("font_size",$("[name=font_size]").val(),{expires:365});
                $.cookie("style",$("[name=style]").val(),{expires:365});
                $.cookie("line_break",$("[name=line_break]").val(),{expires:365});
                $.cookie("line_numbers",$("[name=line_numbers]").val(),{expires:365});
                $.cookie("anti_gfw",$("[name=anti_gfw]").val(),{expires:365});
                $("#to_paste").val( he_text );
            });
            $(".text[name='line_break']").blur( function (){
                if (this.value==""){
                    this.value = 80;
                }
            });
            //remeber current settings in cookie
            if ( $.cookie("settings_saved") ){
                $("select[name=language]").val($.cookie("language"));
                $("select[name=font_name]").val($.cookie("font_name"));
                $("select[name=style]").val($.cookie("style"));
                $("[name=font_size]").val($.cookie("font_size"));
                $("[name=line_break]").val($.cookie("line_break"));
                $("[name=line_numbers]").val($.cookie("line_numbers"));
                $("[name=anti_gfw]").val($.cookie("anti_gfw"));
            }
        </script>
    </div>
    <div>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-7790241779679682";
/* paste2image.footer */
google_ad_slot = "8341871657";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script><p>
        &copy; 2011 paste2image.com, v0.1.4 |  
        <a href="/static/about.html">about</a> |
        <a href="/static/terms.html">terms</a> | 
        <a href="/static/changelog.html">changelog</a> | 
        <a href="https://github.com/observerss/paste2image" target="_blank">source</a> 
    </div>
    </body>
</html>
